<!--DOCTYPE HTML -->
<html>
	<head>
		<title>{% block head_title %}ToDoApp{% endblock head_title %}</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<style type="text/css">
			p{
				display: inline-block;
			}

		</style>

	</head>

<body>

{% if messages %}
	<div class="thumbnail col-sm-6">
		<ul>
		{%for message in messages %}
			<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
		</ul>

	</div>
{% endif %}



<div class='container'>
	{% block content %}


		<div class="col-sm-12 col-sm-offset-2">
			<h1>{{ tags }} Page</h1>

			<div class="col-sm-12 row">
				<p class = "col-sm-1"><a href="/posts/create" class="btn btn-primary" role="button">Create</a></p>
				<p class = "col-sm-4"><a href="/posts" class="btn btn-primary" role="button">Show All</a></p>
					<form method="GET" action="" class="col-sm-6">
						<span class = "col-sm-4">
							<input type="text" name="q" placeholder="Tags or Bookmarks" class=" form-control" value="{{ request.GET.q }}"></input>
						</span>
						<input type="submit" value="Search" class="btn btn-primary col-sm-2"></input>	

					</form>
			</div>
		<div class="row">

		{% for obj in obj_list %}

			<div class="col-sm-4">
				<div class="thumbnail">
					<div class="caption">
						<h3><a href="{{ obj.get_absolute_url }}"> {{ obj.tags }}</a></h3>
						<p>{{ obj.bookmarks }}</p><br />
						<br />
						<p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">Show</a></p>
						<p><a href="{{ obj.get_absolute_url }}edit" class="btn btn-primary" role="button">Edit</a></p>
						<p><a href="{{ obj.get_absolute_url }}delete" class="btn btn-primary" role="button">Delete</a></p>

					</div>
				</div>
			</div>	

			{% cycle "" "</div><div class='row'>" %}
		{% endfor %}
		</div>

	{% endblock content%}
	</div>	
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>



